<%- include('./partials/header.ejs') %>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-deck justify-content-center">
          <div class="card bg-white0 border-danger mb-3" style="max-width: 36rem">
            <img class="card-img-top" style="" src="<% players.img %>" alt="">
            <div class="card-body">
              <h5 class="card-title text-center">
                <%= players.first_name %> <%= players.last_name %>
              </h5>
              <p class="card-text text-center">
                Team: <%= players.team.full_name %><br>
                Position: <%= players.position %><br>
                Height: <%= players.height_feet %>' <%= players.height_inches %>"<br>
                Weight: <%= players.weight_pounds %> lbs <br>
                City: <%= players.team.city %><br>
                Abbreviation: <%= players.team.abbreviation %><br>
                Conference: <%= players.team.conference %><br>
                Division: <%= players.team.division %><br>
              </p>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <form class="text-center" action="/players/<%= players.id %>?_method=PUT" method="POST">
      <input
      class=""
      type="checkbox"
      name="favorite"
      value="Confirm Favorite"
      <% if (players.favorite) { %>
        checked
      <% } %>
      <br>
      <input class="btn btn-success" type="submit" name="" value="Add To Favorite">
      <a class="btn btn-light "href="/players/<%= players.id %>">Cancel</a>
    </form><br>

<%- include('./partials/footer.ejs') %>
