<%- include('./partials/header.ejs') %>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome, Welcome <%= currentUser.username %>!</h1>
    <p class="lead text-muted">This is your player card page. All the cards in your collection are available below.</p>
    <p>
      <a class="btn btn-danger my-2" href="/players/faves">View Favorites</a>
      <a class="btn btn-secondary my-2" href="/players/buy">Buy New Pack</a>
    </p>
  </div>
</section>
<br>
  <div class="container">
    <div class="row">
      <div class="">
        <div class="card-deck">
          <% players.forEach((player) => { %>
          <div class="card bg-white border-warning mb-3" style="min-width: 18rem">
            <img class="card-img-top bg-dark" style="" src="https://www.freepnglogos.com/uploads/nba-logo-png/nba-debate-club-milken-hottest-new-club-the-roar-25.png" alt="">
            <div class="card-body">
              <h5 class="card-title">
                <a class="text-dark font-weight-bold"href="/players/<%= player.id %>"><%= player.first_name %> <%= player.last_name %></a>
              </h5>
              <p class="card-text">
                Team: <%= player.team.full_name %><br>
                Position: <%= player.position %><br>
                Height: <%= player.height_feet %>' <%= player.height_inches %>"<br>
                Weight: <%= player.weight_pounds %> lbs
              </p>
            </div>
            <br>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <br>
<%- include('./partials/footer.ejs') %>
