<%- include('./partials/header.ejs') %>
  <h2>'This is where all my ⛹🏾‍♂️ players would be!'</h2>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-deck justify-content-center">
          <% players.forEach((player) => { %>
          <div class="card bg-warning border-dark mb-3" style="max-width: 18rem">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">
                <a class="text-dark"href="/players/<%= player.id %>"><%= player.first_name %> <%= player.last_name %></a>
              </h5>
              <p class="card-text">
                Team: <%= player.team.full_name %><br>
                Position: <%= player.position %><br>
                Height: <%= player.height_feet %>' <%= player.height_inches %>"<br>
                Weight: <%= player.weight_pounds %> lbs
              </p>
            </div>
            <br>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <br>
<%- include('./partials/footer.ejs') %>
