<%- include('./partials/header.ejs') %>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card-deck justify-content-center">
          <div class="card bg-dark border-danger mb-3" style="max-width: 30rem">
            <img class="card-img-top" style="" src="<%= players.img %>" alt="">
            <div class="card-body bg-dark text-light">
              <h4 class="card-title text-center">
                <%= players.first_name %> <%= players.last_name %>
              </h4>
              <p class="card-text text-center">
                Team: <%= players.team.full_name %><br>
                Position: <%= players.position %><br>
                Height: <%= players.height_feet %>' <%= players.height_inches %>"<br>
                Weight: <%= players.weight_pounds %> lbs <br>
                City: <%= players.team.city %><br>
                Abbreviation: <%= players.team.abbreviation %><br>
                Conference: <%= players.team.conference %><br>
                Division: <%= players.team.division %><br>
              </p>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <a href="/players/<%= players.id %>/faves">
      <input class="btn btn-success" type="submit" value="Add to Favorites">
    </a><br><br>
    <form action="/players/<%= players.id %>?_method=DELETE" method="POST">
      <input class="btn btn-danger" type="submit" value="Remove <%= players.first_name %> <%=players.last_name %>">
    </form><br>
    <a class="btn btn-light" href="/players">Back To Players</a>
  </div>
  <br><br><br><br>
<%- include('./partials/footer.ejs') %>
